body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}


.flex-box{
    display: flex;
    padding-bottom: 5%;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

h1 {
    font-size: 300%;
    color: rgb(80, 78, 78);
}
h2{
    font-size: 200%;
    color: rgb(68, 67, 67);    
}

p {
    color: rgb(107, 106, 106);
    padding-right: 5%;
    padding-bottom: 2%;
}

.span-blue{
    color: rgb(4, 115, 226);
}
a{
    background-image: linear-gradient(to right, rgb(183, 183, 219), rgb(59, 116, 221));
    padding: 15px 30px;
    border-radius: 30px;
    color: floralwhite;
    font-size: 80%;

}
#second-section{
    background-image: url(images/Frame\ 57.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
#second-section-text{
    padding-top: 15%;
    padding-left: 15%;
}
#second-section-img{
    width: 32%;
    padding-top: 8%;
}
div.flex-box{
    padding-left: 5%;
    padding-right: 5%;
}
#third-section >.flex-box >.half-width{
    background-color: #fdfdfd;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgb(204, 203, 203) ;
    margin: 2.5%;
    padding: 10px;

}

#third-section >.flex-box >.half-width img{
    width: 100%;
}
#third-section .Our-recepies{
    text-align: center;
}
