body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    }
nav{
    width: 100%;
    height: 75%;
    background-color: rgb(17, 17, 56);
    display: inline-block;
}
nav .logo{
    font-weight: bold;
    margin: 0px;
    padding: 0px;

}
nav ul{
    float: right;
    
}
nav ul li{
    display: inline-block; 
    margin: 0px;
    padding: 0px;
}

.flex-box{
    display: flex;
    padding-bottom: 5%;
}
#first-section{
    padding-top: 5%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

h1 {
    font-size: 300%;
    color: rgb(80, 78, 78);
}
h2{
    font-size: 200%;
    color: rgb(68, 67, 67);    
}

p {
    color: rgb(107, 106, 106);
    padding-right: 5%;
}

.span-blue{
    color: rgb(102, 161, 219);
}
a{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(183, 183, 219), rgb(59, 116, 221));
    padding: 15px 30px;
    border-radius: 30px;
    color: floralwhite;
    font-size: 80%;

}
#second-section{
    background-image: url(images/Frame\ 57.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}
#second-section-text{
    padding-top: 15%;
    padding-left: 15%;
}
#second-section-img{
    width: 32%;
    padding-top: 8%;
}
div.flex-box{
    padding-left: 5%;
    padding-right: 5%;
}
#third-section >.flex-box >.half-width{
    background-color: #fdfdfd;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgb(204, 203, 203) ;
    margin: 2.5%;
    padding: 10px;

}

#third-section >.flex-box >.half-width img{
    width: 100%;
}
#third-section .Our-recepies{
    text-align: center;
}
#fourth-section .flex-box{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
    background-color: #fdfdfd;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgb(204, 203, 203) ;

}

#fourth-section >.flex-box >.half-width{
    width: 70%;
    text-align: center;
    text-indent: 5px;
}
#fifth-section >.flex-box >.half-width{
    width: 100%;
    text-align: center;
    text-indent: 5px;
}
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 25%;
    background-color: #6584db;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #569dc7;
  }
  #fifth-section {
    background-color: #b9d7e6;
    padding: 20px;
    p
  }
  
.footer{
    width: 100%;
    text-align: center; 
}
footer{
        background-color: #0a051a;
        padding: 50px;
    }